@charset "UTF-8";
/* style not use for vue, leave just for order */
/* variables */
/* mixins */
/* common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif; }

.wrapper {
  min-height: 100vh; }

.container {
  max-width: 1140px;
  margin: 0 auto;
  outline: none; }

.hidden {
  position: absolute;
  left: -99999px;
  width: 1px;
  height: 1px;
  margin: -1px; }

/* button */
button {
  cursor: pointer;
  cursor: pointer;
  transition-duration: 0.5s; }
  button:hover {
    transform: scale(1.2);
    background-color: #F16D7F;
    color: #ffffff;
    box-shadow: 1px 1px 2px; }

/* a */
a {
  cursor: pointer;
  transition-duration: 0.5s; }
  a:hover {
    transform: scale(1.2);
    background-color: transparent;
    color: #ffffff;
    box-shadow: none; }

.subscribe-btn, .registry-btn {
  transition-delay: 0.2s;
  cursor: pointer;
  transition-duration: 0.5s; }
  .subscribe-btn:hover, .registry-btn:hover {
    transform: scale(1.1);
    background-color: #B9B9B9;
    color: #FFFFFF;
    box-shadow: none; }

/* tablet */
@media (max-width: 1200px) {
  .container {
    max-width: calc(768px - 16px * 2);
    outline: none; } }
/*mobile*/
@media (max-width: 767px) {
  .container {
    max-width: calc(375px - 16px * 2);
    outline: none; } }
/* header */
.header {
  background-color: #222222;
  color: #FBFBFB;
  padding-top: 18px;
  padding-bottom: 18px; }

.header-wrap {
  display: flex;
  justify-content: space-between; }

.header-left {
  display: flex;
  align-items: flex-end; }

.header-right {
  display: flex;
  align-items: flex-end; }

.logo-link {
  margin-right: 41px;
  text-decoration: none; }
  .logo-link:hover {
    transition-duration: 0.5s;
    transform: rotate(360deg) scale(1.2);
    color: inherit;
    background: inherit; }

.search-link {
  text-decoration: none; }
  .search-link-icon {
    transition-property: fill;
    transition-duration: 0.5s;
    fill: #E8E8E8; }
    .search-link-icon:hover {
      fill: #F16D7F; }

.cart-link {
  text-decoration: none;
  margin-left: 33px; }
  .cart-link-icon {
    transition-property: fill;
    transition-duration: 0.5s;
    fill: #E8E8E8; }
    .cart-link-icon:hover {
      fill: #F16D7F; }

.registry-link {
  text-decoration: none;
  margin-left: 33px; }
  .registry-link-icon {
    transition-property: fill;
    transition-duration: 0.5s;
    fill: #E8E8E8; }
    .registry-link-icon:hover {
      fill: #F16D7F; }

.menu-btn {
  background-color: transparent;
  border: none;
  fill: #E8E8E8;
  cursor: pointer; }
  .menu-btn:hover {
    transition: fill 1s, transform 0.5s;
    transform: rotate(360deg) scale(1.2);
    background-color: transparent;
    fill: #F16D7F;
    box-shadow: none; }

/*mobile*/
@media (max-width: 767px) {
  .registry-link {
    display: none; }

  .cart-link {
    display: none; } }
/* promo */
.promo {
  background-color: #F1E4E6; }

.promo-title {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
  margin-right: 101px; }

.promo-title--small {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #222222; }

.promo-title--pink {
  color: #F16D7F; }

.promo-wrap {
  height: 764px;
  background-image: url("../../img/promo-bg.png");
  background-repeat: no-repeat;
  background-position-x: -227px;
  background-position-y: bottom;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.promo-brand {
  border-left: 12px solid #F16D7F;
  padding-left: 16px; }

/* tablet */
@media (max-width: 1200px) {
  .promo-wrap {
    height: 368px;
    background-size: contain;
    -ms-background-position-x: 0;
    background-position-x: 0; }

  .promo-title {
    font-size: 44px;
    line-height: 53px;
    margin-right: 33px; }

  .promo-title--small {
    font-size: 24px;
    line-height: 29px; } }
/*mobile*/
@media (max-width: 767px) {
  .promo-wrap {
    background-image: none;
    height: 363px; }

  .promo-title {
    font-size: 38px;
    line-height: 46px;
    margin-right: 33px; }

  .promo-title--small {
    font-size: 20px;
    line-height: 24px; } }
/* categories */
.categories {
  padding-top: 65px;
  padding-bottom: 96px; }

.categories-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.category-item {
  width: 360px;
  height: 260px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.5s; }
  .category-item:hover {
    transform: scale(1.05);
    background-color: inherit;
    color: #2A2A2A;
    box-shadow: none; }

.category-women {
  background-image: url("../../img/gradient.png"), url("../../img/for-women.jpg"); }

.category-men {
  background-image: url("../../img/gradient.png"), url("../../img/for-men.jpg"); }

.category-kids {
  background-image: url("../../img/gradient.png"), url("../../img/for-kids.jpg"); }

.category-accessories {
  margin-top: 30px;
  width: 100%;
  height: 180px;
  background-image: url("../../img/gradient.png"), url("../../img/accessories.jpg"); }

.category-text-top {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF; }

.category-text-bottom {
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F; }

/* tablet */
@media (max-width: 1200px) {
  .categories {
    padding-top: 20px;
    padding-bottom: 160px; }

  .category-item {
    width: 232px;
    height: 167px; }

  .category-accessories {
    width: 100%;
    margin-top: 16px; } }
/*mobile*/
@media (max-width: 767px) {
  .categories {
    padding-top: 64px;
    padding-bottom: 64px; }

  .category-item {
    width: 100%;
    margin-bottom: 32px; }

  .category-accessories {
    margin-bottom: 0;
    margin-top: 0; } }
/* products */
.products {
  padding-bottom: 95px; }

.product-header {
  text-align: center; }

.products-title {
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin-bottom: 12px; }

.product-description {
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  margin-bottom: 50px; }

.product-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
  margin-bottom: 48px; }

.product-item {
  background: #F8F8F8;
  position: relative;
  transition: 1s; }
  .product-item:hover .product-overlay {
    opacity: 1; }

.product-text {
  padding: 24px 29px 20px 17px; }

.center {
  text-align: center; }

.products-link {
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  padding: 14px 39px;
  border: 1px solid #F26376;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition-duration: 0.5s; }
  .products-link:hover {
    transform: scale(1.2);
    background-color: #F16D7F;
    color: #ffffff;
    box-shadow: 1px 1px 2px; }

.product-name, .product-name a {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 12px;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.5s; }
  .product-name:hover, .product-name a:hover {
    transform: scale(1);
    background-color: inherit;
    color: #F16D7F;
    box-shadow: none; }

.product-txt {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-bottom: 18px; }

.product-price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F; }

.product-overlay {
  background-color: rgba(58, 56, 56, 0.86);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 72%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s; }

.product-btn-add {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 14px 16px 12px 14px;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  gap: 11px; }

/* tablet */
@media (max-width: 1200px) {
  .products {
    padding-bottom: 64px; }

  .product-list {
    gap: 16px;
    margin-bottom: 32px; }

  .product-text {
    text-align: left; }

  .product-hidden, li.product-item-hidden:last-child {
    display: none; }

  .products-title {
    margin-bottom: 3px; }

  .product-description {
    margin-bottom: 72px; }

  .product-list-reverse {
    direction: rtl; } }
/*mobile*/
@media (max-width: 767px) {
  .product-description {
    margin-bottom: 65px; }

  .product-video, .product-img {
    width: 100%; }

  .product-list {
    gap: 15px;
    margin-bottom: 40px; }

  .products-link {
    margin-bottom: 32px; }

  .products {
    padding-bottom: 64px;
    width: 100%; }

  .product-list-reverse {
    direction: unset; }

  li.product-item-hidden:last-child {
    display: unset;
    margin-bottom: 0; }

  li.product-item-hidden:nth-child(2) {
    display: none; } }
/* features */
.features {
  background-color: #222222;
  color: #FBFBFB;
  padding-top: 72px;
  padding-bottom: 104px; }

.feature-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 30px; }

.feature-item {
  width: 360px;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  background-repeat: no-repeat;
  background-position-x: center; }

.feature-delivery {
  background-image: url("../../img/delivery.png"); }

.feature-discounts {
  background-image: url("../../img/discounts.png"); }

.feature-assurance {
  background-image: url("../../img/assurance.png"); }

.feature-name {
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
  padding-top: 19px;
  padding-bottom: 16px; }

.feature-description {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #FBFBFB; }

/* tablet */
@media (max-width: 1200px) {
  .features {
    padding-top: 48px;
    padding-bottom: 64px; }

  .feature-list {
    flex-direction: column;
    align-items: center;
    gap: 48px; } }
/*mobile*/
@media (max-width: 767px) {
  .features {
    padding-bottom: 81px; }

  .feature-list {
    gap: 46px; } }
/* feedback */
.feedback {
  background-color: #E1E1E1;
  background-image: url("../../img/subscribe-bg.jpg");
  background-size: cover;
  background-position-y: bottom;
  padding-top: 97px;
  padding-bottom: 154px; }

.feedback-wrap {
  display: flex;
  justify-content: space-between;
  text-align: center; }

.feedback-left {
  width: 360px; }

.feedback-message {
  font-size: 20px;
  line-height: 24px;
  color: #222224;
  text-align: center;
  margin-top: 35px; }

.feedback-emphasize {
  font-style: italic; }

.feedback-right {
  padding-right: 97px; }

/* tablet */
@media (max-width: 1200px) {
  .feedback {
    padding-top: 64px;
    padding-bottom: 140px; }

  .feedback-wrap {
    flex-direction: column;
    align-items: center; }

  .feedback-right {
    padding-right: 0; } }
/*mobile*/
@media (max-width: 767px) {
  .feedback {
    padding-bottom: 110px; } }
/* subscribe */
.subscribe-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
  padding-top: 52px; }

.subscribe-description {
  font-size: 18px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
  padding-bottom: 32px; }

.input-email {
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
  padding-top: 21px;
  padding-bottom: 17px;
  padding-left: 24px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  border: 1px solid #E1E1E1;
  background-color: #E1E1E1;
  width: 256px; }

.subscribe-block {
  display: flex;
  justify-content: center; }

.subscribe-btn {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  background-color: #F16D7F;
  padding-left: 21px;
  padding-right: 21px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  border: 1px solid #F16D7F; }

/* tablet */
@media (max-width: 1200px) {
  .subscribe-title {
    padding-top: 48px; } }
/*mobile*/
@media (max-width: 767px) {
  .input-email {
    width: 100%; } }
/* footer */
.footer {
  background-color: #222222;
  color: #FBFBFB;
  padding: 30px 0; }

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.footer-copyright {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB; }
  .footer-copyright::before {
    content: "\00a9"; }

.footer-list {
  list-style: none;
  display: flex;
  flex-direction: row; }

.social-item {
  margin-left: 7px; }

.social-link {
  background-color: #FFFFFF;
  width: 32px;
  height: 32px;
  color: #000000;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center; }
  .social-link:hover {
    color: #FFFFFF;
    background-color: #F16D7F; }

/*mobile*/
@media (max-width: 767px) {
  .footer-wrap {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center; }

  .footer-list {
    margin-bottom: 40px; }

  .footer {
    padding-top: 43px;
    padding-bottom: 9px; } }
/* catalog page inner-title */
.inner-title {
  padding-top: 65px;
  padding-bottom: 65px;
  background-color: #F8F3F4; }

.inner-title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.page-title {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F; }

/* tablet */
@media (max-width: 767px) {
  .inner-title-wrap {
    flex-direction: column; }

  .inner-title {
    padding-top: 24px;
    padding-bottom: 46px; }

  .page-title {
    margin-bottom: 32px; }

  .inner-title-along {
    padding-top: 50px;
    padding-bottom: 38px; } }
/* breadcrumbs */
.breadcrumbs-list {
  display: flex;
  list-style: none;
  gap: 10px; }

.breadcrumbs-item::before {
  content: '/';
  margin-right: 5px; }
.breadcrumbs-item:first-child::before {
  display: none; }

.breadcrumbs-link {
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363; }
  .breadcrumbs-link[href]:hover {
    text-decoration: underline;
    color: #F16D7F; }

.breadcrumbs-link--current {
  font-weight: bold;
  color: #F16D7F;
  cursor: pointer;
  transition-duration: 0.5s; }
  .breadcrumbs-link--current:hover {
    transform: scale(1);
    background-color: inherit;
    color: #4169e1;
    box-shadow: none; }

/* catalog page product filter */
.filter-box {
  display: flex;
  gap: 30px;
  padding-top: 51px;
  padding-bottom: 64px; }

.filter {
  width: 360px;
  box-sizing: border-box;
  position: relative;
  outline: none;
  border: none; }
  .filter-content {
    position: absolute;
    width: 100%;
    z-index: 1000;
    padding: 16px;
    background-color: #ffffff;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    top: 40px; }

.filter-name {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding-left: 16px; }
  .filter-name--icon {
    margin-left: 11px; }
  .filter-name:hover {
    color: #F16D7F;
    fill: #F16D7F; }

.filter-title-name {
  display: block;
  padding: 11px;
  outline: none;
  color: #F16D7F;
  border-left: 5px solid #F16D7F;
  border-bottom: 1px solid #EBEBEB; }

.filter-list {
  list-style: none;
  padding: 24px 16px; }

.filter-item {
  margin-bottom: 11px; }
  .filter-item:last-child {
    margin-bottom: 0; }

.filter-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E; }
  .filter-link:hover {
    color: #F16D7F;
    text-decoration: underline; }

.sort {
  display: flex;
  gap: 28px; }

.sort-name {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-bottom: 5px; }
  .sort-name--icon {
    margin-left: 11px; }
  .sort-name:hover {
    color: #F16D7F; }

.sort-wrap {
  margin-left: -10px;
  text-align: left; }

.sort-list {
  list-style: none;
  position: absolute;
  z-index: 1000;
  background-color: #ffffff;
  width: 79px;
  padding: 7px 9px 11px;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21); }

.sort-input {
  margin-right: 9px; }

.sort-item {
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
  margin-bottom: 6px; }
  .sort-item:last-child {
    margin-bottom: 0; }

.sort-list-trend {
  width: 161px; }

.sort-list-price {
  width: 100px; }

/* tablet */
@media (max-width: 1200px) {
  .filter-box {
    justify-content: space-between; }

  .filter-name {
    padding-left: 0; } }
/*mobile*/
@media (max-width: 767px) {
  .filter-header {
    display: none; }

  .filter-name--icon {
    margin-left: 0;
    width: 37px;
    height: 25px; }

  .filter {
    width: 37px; }

  .filter-box {
    padding-top: 24px;
    padding-bottom: 40px; }

  .sort-name {
    font-size: 12px;
    line-height: 14px; }

  .sort, .filter-box {
    gap: 23px; }

  .filter-content, .sort-list {
    width: max-content; } }
/* catalog page pagination */
.pagination {
  display: flex;
  justify-content: center; }

.pagination-list {
  margin: 0;
  list-style: none;
  border: 1px solid #EBEBEB;
  padding: 15px;
  width: 284px;
  display: flex;
  justify-content: space-between; }

.pagination-item {
  text-decoration: none;
  display: inline-block; }

.pagination-btn {
  background-color: #fff;
  border: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4; }

.pagination-btn--prev, .pagination-btn--next {
  color: #000000; }

.pagination-btn--current {
  color: #F16D7F; }

/* tablet */
@media (max-width: 1200px) {
  .pagination-list {
    padding: 12px 15px; } }
/* registry */
.registry {
  padding-top: 64px;
  padding-bottom: 96px; }

.registry-wrap {
  display: flex;
  justify-content: space-between; }

.registry-form {
  width: 360px; }

.registry-input {
  border: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px; }

.registry-gender {
  margin-top: 31px;
  margin-bottom: 33px; }

.gender-text {
  display: flex;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  gap: 10px; }

.registry-description {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222; }

.registry-text {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  width: 100%;
  padding: 13px 0 13px 17px;
  border: 1px solid #B1B1B1; }

.hint {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-top: 15px;
  margin-bottom: 39px; }

.registry-btn {
  padding: 16px 29px;
  background-color: #F16D7F;
  color: #FBFBFB;
  display: flex;
  align-items: center;
  border: none;
  gap: 20px; }
  .registry-btn--icon {
    fill: #FBFBFB; }

/* loyalty program */
.loyalty {
  width: 652px; }

.loyalty-text, .loyalty-description, .loyalty-item {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000; }

.loyalty-text {
  margin-bottom: 22px; }

.loyalty-description {
  margin-bottom: 21px; }

.loyalty-item {
  margin-bottom: 16px; }
  .loyalty-item:before {
    content: '✓';
    margin-right: 22px; }

.loyalty-list {
  list-style: none; }

/* tablet */
@media (max-width: 1200px) {
  .loyalty {
    width: 354px; }

  .loyalty-text, .loyalty-description, .loyalty-item {
    font-size: 16px;
    line-height: 19px; }

  .loyalty-text {
    margin-bottom: 32px; }

  .loyalty-description {
    margin-bottom: 22px; } }
/* mobile */
@media (max-width: 767px) {
  .registry {
    padding-top: 40px; }

  .registry-wrap {
    flex-direction: column; }

  .registry-form {
    padding-bottom: 40px; } }
/* slider */
.slider {
  background-color: #F7F7F7;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 65px; }
  .slider-btn {
    background: rgba(42, 42, 42, 0.15);
    color: #2A2A2A;
    width: 47px;
    height: 47px;
    border: none;
    cursor: pointer;
    transition-duration: 0.5s; }
    .slider-btn:hover {
      transform: scale(1);
      background-color: rgba(42, 42, 42, 0.15);
      color: inherit;
      box-shadow: none; }
    .slider-btn--icon {
      fill: #000000; }
      .slider-btn--icon:hover {
        fill: #F16D7F; }
  .slider-img {
    width: 100%; }

/* tablet */
@media (max-width: 1200px) {
  .slider {
    padding-bottom: 0; } }
/* about */
.about {
  padding-bottom: 127px; }

.about-wrap {
  border: 1px solid #EAEAEA;
  background-color: #FFFFFF;
  margin-top: -65px;
  text-align: center;
  padding-top: 52px;
  padding-bottom: 87px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.about-filter {
  margin-bottom: 48px; }

.about-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-bottom: 12px; }
  .about-title:after {
    content: '';
    display: block;
    width: 50%;
    height: 3px;
    background-color: #EF5B70;
    margin-top: 12px; }

.about-name {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin-bottom: 48px; }

.about-description {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  margin-bottom: 32px;
  width: 555px; }

.about-price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  margin-bottom: 64px; }
  .about-price:after {
    content: '';
    display: block;
    width: 642px;
    height: 1px;
    background-color: #EAEAEA;
    margin-top: 64px; }

.btn-add {
  width: 212px;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  padding-top: 15px;
  padding-bottom: 14px;
  border: 1px solid #FF6A6A;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23px; }
  .btn-add--icon {
    fill: #EF5B70; }
    .btn-add--icon:hover {
      transition: 0.3s; }

/* tablet */
@media (max-width: 1200px) {
  .about {
    padding-top: 65px;
    padding-bottom: 65px; }

  .about-wrap {
    margin: 0 auto;
    border: none;
    padding-bottom: 0;
    padding-top: 0; } }
/*mobile*/
@media (max-width: 767px) {
  .about-description {
    width: 100%; }

  .about-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 37px; }
    .about-price:after {
      width: 50%;
      margin-top: 50px; } }
/* cart */
.cart {
  padding-top: 96px;
  padding-bottom: 128px; }

.cart-wrap {
  display: flex;
  justify-content: space-between; }

.cart-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 72px; }

.cart-item {
  width: 652px;
  display: flex;
  gap: 31px;
  border: 1px solid #EAEAEA;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); }

.cart-info {
  display: flex;
  flex-direction: column; }

.card-close-btn {
  position: absolute;
  top: 28px;
  right: 22px;
  border: none;
  width: 18px;
  max-height: 18px;
  cursor: pointer; }
  .card-close-btn--icon {
    background: #ffffff;
    fill: #575757; }
  .card-close-btn:hover {
    transition: fill 1s, transform 0.5s;
    transform: rotate(360deg) scale(1.2);
    background-color: transparent;
    fill: #F16D7F;
    box-shadow: none; }

.cart-img {
  max-width: 262px; }

.cart-item-name {
  padding-top: 22px;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  margin-bottom: 42px; }

.cart-item-text {
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #575757; }

.item-count {
  text-align: center;
  width: 44px;
  margin-left: 24px; }

.cart-item-price {
  color: #EF5B70; }

.cart-btn-wrap {
  display: flex;
  justify-content: space-between; }

.cart-btn--clear, .cart-bnt--shopping {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding: 17px 40px 16px 39px; }

.cart-right {
  width: 360px; }

.cart-form {
  padding-bottom: 57px; }

.cart-input {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 17px;
  margin-bottom: 23px; }

.cart-description {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222; }

.cart-text {
  border: 1px solid #A4A4A4;
  padding: 13px 0 16px 17px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1; }

.cart-quote-btn {
  padding: 10px 14px 12px 15px;
  font-weight: 300;
  font-size: 13px;
  line-height: 11px;
  background-color: #FFFFFF;
  border: 1px solid #A4A4A4;
  color: #4A4A4A; }

.checkout {
  padding: 42px;
  background-color: #F5F3F3;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.sub-name {
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  margin-bottom: 12px; }

.sub-sum {
  margin-left: 24px; }

.total-name {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 21px; }

.total-sum {
  font-weight: bold;
  color: #F16D7F;
  margin-left: 24px; }

.total-item {
  text-align: end;
  margin-bottom: 17px; }
  .total-item:after {
    content: '';
    display: block;
    width: 275px;
    height: 1px;
    background-color: #E2E2E2; }

.checkout-btn {
  padding: 15px;
  width: 100%;
  background-color: #F16D7F;
  border: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  cursor: pointer;
  transition-duration: 0.5s; }
  .checkout-btn:hover {
    transform: scale(1.1);
    background-color: #B9B9B9;
    color: #FFFFFF;
    box-shadow: none; }

/* tablet */
@media (max-width: 1200px) {
  .cart-wrap {
    flex-direction: column; }

  .cart-list {
    align-items: center;
    padding-bottom: 62px; }

  .cart-item {
    width: 100%; }

  .cart-btn-wrap {
    justify-content: center;
    gap: 48px; }

  .cart-right {
    gap: 15px;
    padding-top: 64px;
    display: flex;
    justify-content: space-between; }

  .cart-input {
    width: 360px; }

  .checkout {
    margin-top: 55px;
    height: fit-content; } }
/* tablet */
@media (max-width: 767px) {
  .cart-right {
    flex-direction: column;
    width: 100%;
    padding-top: 48px;
    gap: 0; }

  .cart-input {
    width: 100%; }

  .cart-item {
    width: 100%;
    height: 188px; }

  .cart-img {
    max-width: 143px; }

  .cart {
    padding-top: 39px;
    padding-bottom: 96px; }

  .cart-list {
    padding-bottom: 30px; }

  .cart-btn-wrap {
    gap: 9px; }

  .cart-item-name {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 25px; }

  .cart-item-text {
    font-size: 14px;
    line-height: 17px; }

  .card-close-btn {
    top: 17px;
    right: 15px;
    width: 12px;
    max-height: 14px; }
    .card-close-btn--icon {
      width: 12px;
      height: 14px; }

  .cart-btn--clear, .cart-bnt--shopping {
    font-size: 12px;
    line-height: 14px;
    padding: 9px;
    width: 175px; }

  .cart-form {
    padding-bottom: 48px; }

  .checkout {
    margin-top: 0; } }
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }
.heartbeat {
  -webkit-animation: heartbeat 3s ease-in-out infinite both;
  animation: heartbeat 3s ease-in-out infinite both; }

/* menu */
summary {
  display: block;
  cursor: pointer; }

summary::-webkit-details-marker {
  display: none; }

.main-nav {
  position: absolute;
  right: 0;
  background-color: #fff;
  color: #000000;
  top: 77px;
  width: 232px;
  box-sizing: border-box;
  padding: 37px 34px;
  min-height: 764px;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21); }

.main-nav-wrap {
  position: relative; }

.main-close-btn {
  position: absolute;
  top: -16px;
  right: -16px;
  border: none;
  width: 13px;
  max-height: 13px;
  background-color: #ffffff;
  cursor: pointer; }
  .main-close-btn--icon {
    background: #ffffff;
    fill: #575757; }
  .main-close-btn:hover {
    transition: fill 1s, transform 0.5s;
    transform: rotate(360deg) scale(1.2);
    background-color: transparent;
    fill: #F16D7F;
    box-shadow: none; }

.nav-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 24px; }

.nav-list, .subnav-list {
  list-style-type: none; }

.main-nav-close {
  transform: scaleX(0); }

.subnav-list {
  padding-left: 20px; }

.nav-link, .subnav-link {
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F; }
  .nav-link[href], .subnav-link[href] {
    text-decoration: none; }
  .nav-link[href]:hover, .subnav-link[href]:hover {
    text-decoration: underline;
    color: #F16D7F; }

.subnav-link {
  color: #6F6E6E; }

.nav-item {
  margin-bottom: 20px; }

.subnav-item {
  margin-bottom: 11px; }

.nav-link-title {
  margin-bottom: 12px; }

/* tablet */
@media (max-width: 1200px) {
  .main-nav {
    transform: scaleX(0); } }

/*# sourceMappingURL=style.css.map */
