.breadcrumbs-list {
  display: flex;
  list-style: none;
  gap: 10px;
}

.breadcrumbs-item {
  &::before {
    content: '/';
    margin-right: 5px;
  }

  &:first-child::before {
    display: none;
  }
}

.breadcrumbs-link {
  text-decoration: none;
  font-weight: 300;
  @include font-style();
  color: #636363;

  &[href]:hover {
    text-decoration: underline;
    color: $main-color;
  }
}

.breadcrumbs-link--current {
  font-weight: bold;
  color: $main-color;
  @include btn-smoothness(inherit, #4169e1, none, 1);
}
