.feedback {
  background-color: $bg-color;
  background-image: url('../img/subscribe-bg.jpg');
  background-size: cover;
  background-position-y: bottom;
  padding-top: 97px;
  padding-bottom: 154px;
}

.feedback-wrap {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.feedback-left {
  width: $item-width;
}

.feedback-message {
  @include font-style(20px, 24px);
  color: #222224;
  text-align: center;
  margin-top: 35px;
}

.feedback-emphasize {
  font-style: italic;
}

.feedback-right {
  padding-right: 97px;
}
