.loyalty {
  width: 652px;
}

.loyalty-text, .loyalty-description, .loyalty-item {
  font-weight: 300;
  @include font-style(24px, 29px);
  color: #000000;
}

.loyalty-text {
  margin-bottom: 22px;
}

.loyalty-description {
  margin-bottom: 21px;
}

.loyalty-item {
  margin-bottom: 16px;

  &:before {
    content: '✓';
    margin-right: 22px;
  }
}

.loyalty-list {
  list-style: none;
}

/* tablet */
@media (max-width: 1200px) {
  .loyalty {
    width: 354px;
  }

  .loyalty-text, .loyalty-description, .loyalty-item {
    @include font-style(16px, 19px);
  }

  .loyalty-text {
    margin-bottom: 32px;
  }

  .loyalty-description {
    margin-bottom: 22px;
  }
}

/* mobile */
@media (max-width: 767px) {
  .registry{
    padding-top: 40px;
  }

  .registry-wrap {
    flex-direction: column;
  }

  .registry-form {
    padding-bottom: 40px;
  }
}