.products {
  padding-bottom: 95px;
}

.product-header {
  text-align: center;
}

.products-title {
  font-weight: normal;
  @include font-style(30px, 36px);
  color: #222222;
  margin-bottom: 12px;
}

.product-description {
  @include font-style();
  color: #9F9F9F;
  margin-bottom: 50px;
}

.product-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 48px;
}

.product-item {
  background: #F8F8F8;
  width: $item-width;
  position: relative;
  transition: 1s;
  &:hover .product-overlay {
    opacity: 1;
  }
}

.product-text {
  padding: 24px 29px 20px 17px;
}

.center {
  text-align: center;
}

.products-link {
  @include font-style(16px, 19px);
  color: #F26376;
  padding: 14px 39px;
  border: 1px solid #F26376;
  text-decoration: none;
  display: inline-block;
  @include btn-smoothness();
}

.product-name, .product-name a {
  font-weight: normal;
  @include font-style(13px, 16px);
  color: #000000;
  margin-bottom: 12px;
  text-decoration: none;
  @include btn-smoothness(inherit, $main-color, none, 1);
}

.product-txt {
  font-weight: 300;
  @include font-style();
  color: #5D5D5D;
  margin-bottom: 18px;
}

.product-price {
  @include font-style(16px, 19px);
  color: $main-color;
}

.product-overlay {
  background-color: rgba(58, 56, 56, 0.86);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}

.product-btn-add {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 14px 16px 12px 14px;
  @include font-style();
  display: flex;
  align-items: center;
  gap: 11px;
}