.header {
  background-color: #222222;
  color: $contrast-color;
  padding-top: 18px;
  padding-bottom: 18px;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: flex-end;
}

.header-right {
  display: flex;
  align-items: flex-end;
}

.logo-link {
  margin-right: 41px;
  text-decoration: none;

  &:hover {
    transition-duration: 0.5s;
    transform: rotate(360deg) scale(1.2);
    color: inherit;
    background: inherit;
  }
}

.search-link {
  text-decoration: none;
  @include change-color-hover();
}

.cart-link {
  text-decoration: none;
  margin-left: 33px;
  @include change-color-hover();
}

.registry-link {
  text-decoration: none;
  margin-left: 33px;
  @include change-color-hover();
}

.menu-btn {
  background-color: transparent;
  border: none;
  fill: #E8E8E8;
  @include button-rotate-hover();
}

/*mobile*/
@media (max-width: 767px) {
  .registry-link {
    display: none;
  }

  .cart-link {
    display: none;
  }
}